.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box-container {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.note-item-card {
  box-shadow: 0 2px 10px 0 rgba(86, 153, 216, 0.02),
    0 2px 10px 0 rgba(15, 154, 235, 0.12);
}

.note-item-card:hover {
  cursor: pointer;
  box-shadow: 0 20px 30px 0 rgba(2, 25, 46, 0.02),
    0 2px 10px 0 rgba(2, 19, 29, 0.12);
}

.note-item-card .card-img {
  max-height: 300px;
}

.input-img {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 300px;
  width: 300px;
}

ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

li label {
  cursor: pointer;
}

li.checked label {
  text-decoration: line-through;
}
